<ion-list>
  <ng-container *ngIf="!loading; else loading_template">
    <ion-accordion-group>
      <ion-item *ngFor="let exercise of exercises$ | async">
        <ion-accordion [value]="exercise.id" toggle-icon="none">
          <ion-item slot="header">
            <ion-icon
              class="official_checkmark"
              name="checkmark"
              color="primary"
            ></ion-icon>
            <ion-label class="ion-text-wrap">
              {{ exercise.description }}
            </ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <ion-label class="ion-text-wrap">
                {{ exercise.mouvement }}
              </ion-label>
              <app-exercise-type [exerciseType]="exercise.type"></app-exercise-type>
              <app-slope-type [slopeType]="exercise.slopeType"></app-slope-type>
            </ion-item>
            <ion-item *ngIf="exercise.asset">
              <ion-img [src]="exercise.asset"></ion-img>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-item>
    </ion-accordion-group>
  </ng-container>
</ion-list>

<ng-template #loading_template>
  <ion-item *ngFor="let item of [].constructor(10)">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </ion-item>
</ng-template>
