<ion-list>
  <ng-container *ngIf="!loading; else loading_template">
    <ion-accordion-group>
      <ion-item *ngFor="let exercise of exercises$ | async">
        <ion-accordion [value]="exercise.id" toggle-icon="none">
          <ion-item slot="header">
            <ion-icon class="official_checkmark" name="checkmark" color="primary"></ion-icon>
            <ion-label>
              {{ exercise.description }}
            </ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <ion-label>{{ exercise.mouvement }}</ion-label>
              <ion-icon name="close-circle"></ion-icon>
              <ion-icon name="close-circle"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-img
                [src]="
                  'https://mocah.org/uploads/posts/856456-Winter-Skiing-Men-Snow.jpg'
                "
              ></ion-img>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-item>
    </ion-accordion-group>
  </ng-container>
</ion-list>

<ng-template #loading_template>
  <ion-item *ngFor="let item of [].constructor(10)">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </ion-item>
</ng-template>
