<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>SkiUp</ion-list-header>
        <ion-note> 123 hi@ionicframework.com</ion-note>

        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let route of routes; let i = index"
        >
          <!-- TODO IMPLEMENT LIST PROPERLY INTO ROUTING -->
          <ion-item
            routerDirection="root"
            lines="none"
            detail="false"
            [routerLink]="[route.path]"
            routerLinkActive="selected"
          >
            <ion-icon
              *ngIf="route.icon"
              slot="start"
              [ios]="route.icon + '-outline'"
              [md]="route.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ route.label }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div id="main-content">
    <app-header></app-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-split-pane>
